
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="#">KIC Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">ホーム</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">ログイン</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mb-4 mr-1">
<div class="row mt-4">
    <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/new_book">
         <img src="https://image.flaticon.com/icons/svg/2232/2232688.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">新書入荷</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/borrow_book">
         <img src="https://image.flaticon.com/icons/svg/3068/3068327.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">書籍借り</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/list_book">
         <img src="https://image.flaticon.com/icons/svg/3208/3208719.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">書籍一覧</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/find_book">
         <img src="https://image.flaticon.com/icons/svg/882/882988.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">図書捜査</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/paper_book">
         <img src="https://image.flaticon.com/icons/svg/888/888034.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">情報処理学会</h5>
            </div>
        </div>
    </div>
     <div class="col-md-3 mr-4 ml-4">
        <div class="card" style="width: 18rem;">
        <a href="/info">
         <img src="https://image.flaticon.com/icons/svg/785/785923.svg" alt="php" class="img-thumbnail">
        </a>
            <div class="card-body">
                <h5 class="card-title text-center">図書館情報</h5>
            </div>
        </div>
    </div>
</div>

</div>
